/* <----Login style----> */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  .LoginInput {
    font-family: "Poppins", sans-serif;
  }
  
  .loginContainer {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .loginForm.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginForm.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 30px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field .i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field .LoginInput {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field .LoginInput::placeholder {
    color: #080808;
    font-weight: 500;
  }
  
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
  }
  
  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .loginContainer:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #FF8C00 0%, #FFA500 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
    
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
   
  }
  
  .panel .loginh3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    font-size: 30px;
  }
  
  .panel .loginp {
    font-size: 15px;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .loginContainer.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .loginContainer.sign-up-mode .left-panel .image,
  .loginContainer.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .loginContainer.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginContainer.sign-up-mode .right-panel .image,
  .loginContainer.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .loginContainer.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .loginContainer.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .loginContainer {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .loginContainer.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel .loginh3 {
      font-size: 1.2rem;
    }
  
    .panel .loginp {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .loginContainer:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .loginContainer.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .loginContainer.sign-up-mode .left-panel .image,
    .loginContainer.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .loginContainer.sign-up-mode .right-panel .image,
    .loginContainer.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .loginContainer.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
   @media (max-width: 570px) {
     .loginForm {
       padding: 0 1.5rem;
     }
  
     .image {
       display: none;
     }
     .panel .content {
       padding: 0.5rem 1rem;
     }
     .loginContainer {
       padding: 1.5rem;
     }
  
     .loginContainer:before {
       bottom: 72%;
       left: 50%;
     }
  
     .loginContainer.sign-up-mode:before {
       bottom: 28%;
       left: 50%;
     }
   }
  
  
  
   /*------------------------------------------------------------------------------------- Home */
  
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  
   :root {
     --primary-color: #12ac8e;
     --primary-color-dark: #0d846c;
     --primary-color-light: #e9f7f7;
     --secondary-color: #fb923c;
     --text-dark: #333333;
     --text-light: #767268;
     --white: #ffffff;
     --max-width: 1200px;
   }
   
   * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
   
   .section__container {
     max-width: var(--max-width);
     margin: auto;
     padding: 5rem 1rem;
   }
   
   .section__header {
     margin-bottom: 0.5rem;
     font-size: 2rem;
     font-weight: 600;
     color: var(--text-dark);
   }
   
   .btn {
     padding: 0.75rem 2rem;
     outline: none;
     border: none;
     font-size: 1rem;
     white-space: nowrap;
     color: var(--white);
     background-color: var(--secondary-color);
     border-radius: 5px;
     cursor: pointer;
   }
   
   img {
     width: 100%;
     display: flex;
   }
   
   a {
     text-decoration: none;
   }
   
   body {
     font-family: "Poppins", sans-serif;
   }
   
   header {
     background-image: linear-gradient(
         to right,
         rgba(18, 172, 142, 0.9),
         rgba(18, 172, 142, 0.7)
       ),
       url("assets/header.jpg");
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
   }
   
   .nav__container {
     padding: 2rem 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   .nav__logo {
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--white);
   }
   
   .nav__logo span {
     color: var(--secondary-color);
   }
   
   .nav__links {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
   }
   
   .link a {
     padding: 0.5rem;
     color: var(--primary-color-light);
   }
   
   .link a:hover {
     color: var(--white);
   }
   
   .header__container {
     display: flex;
     align-items: center;
     gap: 5rem;
   }
   
   .header__container h1 {
     margin-bottom: 1rem;
     max-width: 800px;
     font-size: 3.5rem;
     line-height: 4rem;
     color: var(--white);
   }
   
   .header__container p {
     margin-bottom: 2rem;
     max-width: 600px;
     color: var(--primary-color-light);
   }
   
   .header__form {
     width: 100%;
     max-width: 350px;
   }
   
   .header__form form {
     display: grid;
     gap: 1rem;
     padding: 2rem;
     background-color: var(--white);
     border-radius: 10px;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
   }
   
   .header__form input {
     padding: 1rem;
     outline: none;
     border: none;
     font-size: 1rem;
     color: var(--primary-color);
     background-color: var(--primary-color-light);
     border-radius: 5px;
   }
   
   .header__form input::placeholder {
     color: var(--primary-color);
   }
   
   .form__btn {
     background-color: var(--primary-color);
     transition: 0.3s;
   }
   
   .form__btn:hover {
     background-color: var(--primary-color-dark);
   }
   
   .header__form h4 {
     font-size: 1.5rem;
     font-weight: 700;
     color: var(--primary-color);
   }
   
   .service__header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
   }
   
   .service__header__content p {
     max-width: 600px;
     color: var(--text-light);
   }
   
   .service__btn {
     padding: 0.75rem 1rem;
     outline: none;
     font-size: 1rem;
     color: var(--primary-color);
     border: 1px solid var(--primary-color);
     background-color: transparent;
     border-radius: 5px;
     white-space: nowrap;
     cursor: pointer;
     transition: 0.3s;
   }
   
   .service__btn:hover {
     color: var(--white);
     background-color: var(--primary-color);
   }
   
   .service__grid {
     margin-top: 4rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2rem;
   }
   
   .service__card {
     padding: 2rem;
     text-align: center;
     border-radius: 10px;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
     cursor: pointer;
   }
   
   .service__card span {
     display: inline-block;
     margin-bottom: 1rem;
     padding: 10px 20px;
     font-size: 2.5rem;
     color: var(--primary-color);
     background-color: var(--primary-color-light);
     border-radius: 100%;
     transition: 0.3s;
   }
   
   .service__card h4 {
     margin-bottom: 0.5rem;
     font-size: 1.2rem;
     font-weight: 600;
     color: var(--text-dark);
   }
   
   .service__card p {
     margin-bottom: 1rem;
     color: var(--text-light);
   }
   
   .service__card a {
     color: var(--primary-color);
   }
   
   .service__card a:hover {
     color: var(--primary-color-dark);
   }
   
   .service__card:hover span {
     color: var(--primary-color-light);
     background-color: var(--primary-color);
   }
   
   .about__container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
     align-items: center;
   }
   
   .about__content p {
     margin-bottom: 1rem;
     color: var(--text-light);
   }
   
   .about__image img {
     max-width: 400px;
     margin: auto;
     border-radius: 10px;
   }
   
   .why__container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
     align-items: center;
   }
   
   .why__image img {
     max-width: 400px;
     margin: auto;
     border-radius: 10px;
   }
   
   .why__content p {
     color: var(--text-light);
   }
   
   .why__grid {
     margin-top: 4rem;
     display: grid;
     grid-template-columns: 80px auto;
     gap: 2rem;
   }
   
   .why__grid span {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     font-size: 2.5rem;
     color: var(--primary-color);
     border-radius: 10px;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
   }
   
   .why__grid h4 {
     margin-bottom: 0.5rem;
     font-size: 1.2rem;
     font-weight: 600;
     color: var(--text-dark);
   }
   
   .why__grid p {
     color: var(--text-light);
   }
   
   .doctors__header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
   }
   
   .doctors__header__content p {
     max-width: 600px;
     color: var(--text-light);
   }
   
   .doctors__nav {
     display: flex;
     align-items: center;
     gap: 1rem;
   }
   
   .doctors__nav span {
     padding: 5px 15px;
     font-size: 1.5rem;
     color: var(--primary-color);
     background-color: var(--primary-color-light);
     cursor: pointer;
   }
   
   .doctors__grid {
     margin-top: 4rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2rem;
   }
   
   .doctors__card {
     text-align: center;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     cursor: pointer;
     overflow: hidden;
   }
   
   .doctors__card__image {
     position: relative;
     overflow: hidden;
   }
   
   .doctors__socials {
     position: absolute;
     left: 0;
     bottom: -4rem;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     transition: 0.5s;
   }
   
   .doctors__socials span {
     display: inline-block;
     padding: 6px 12px;
     font-size: 1.5rem;
     color: var(--text-dark);
     background-color: var(--white);
     border-radius: 5px;
     cursor: pointer;
     transition: 0.3s;
   }
   
   .doctors__socials span:hover {
     color: var(--primary-color);
   }
   
   .doctors__card:hover .doctors__socials {
     bottom: 2rem;
   }
   
   .doctors__card h4 {
     margin-top: 1rem;
     font-size: 1.2rem;
     font-weight: 600;
     color: var(--text-dark);
   }
   
   .doctors__card p {
     margin-bottom: 1rem;
     color: var(--text-light);
   }
   
   .footer {
     background-color: var(--primary-color-light);
   }
   
   .footer__container {
     display: grid;
     grid-template-columns: 400px repeat(3, 1fr);
     gap: 2rem;
   }
   
   .footer__col h3 {
     margin-bottom: 1rem;
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--primary-color);
   }
   
   .footer__col h3 span {
     color: var(--secondary-color);
   }
   
   .footer__col h4 {
     margin-bottom: 1rem;
     font-size: 1.2rem;
     font-weight: 600;
     color: var(--primary-color);
   }
   
   .footer__col p {
     margin-bottom: 1rem;
     color: var(--text-dark);
     cursor: pointer;
     transition: 0.3s;
   }
   
   .footer__col p:hover {
     color: var(--primary-color);
   }
   
   .footer__col i {
     color: var(--primary-color);
   }
   
   .footer__bar {
     background-color: var(--primary-color);
   }
   
   .footer__bar__content {
     max-width: var(--max-width);
     margin: auto;
     padding: 0.5rem 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
   }
   
   .footer__bar__content p {
     font-size: 0.8rem;
     color: var(--white);
   }
   
   .footer__socials {
     display: flex;
     align-items: center;
     gap: 1rem;
     font-size: 1rem;
     color: var(--white);
     cursor: pointer;
   }
   
   @media (width < 900px) {
     .service__grid {
       grid-template-columns: repeat(2, 1fr);
       gap: 1rem;
     }
   
     .about__container {
       grid-template-columns: repeat(1, 1fr);
     }
   
     .about__image {
       grid-area: 1/1/2/2;
     }
   
     .about__content {
       text-align: center;
     }
   
     .why__container {
       grid-template-columns: repeat(1, 1fr);
     }
   
     .why__content {
       text-align: center;
     }
   
     .why__grid {
       text-align: left;
     }
   
     .doctors__grid {
       grid-template-columns: repeat(2, 1fr);
       gap: 1rem;
     }
   
     .footer__container {
       grid-template-columns: repeat(2, 1fr);
     }
   }
   
   @media (width < 780px) {
     .nav__links {
       display: none;
     }
   
     .header__container {
       flex-direction: column;
     }
   }
   
   @media (width < 600px) {
     .service__header {
       flex-direction: column;
       text-align: center;
     }
   
     .service__grid {
       grid-template-columns: repeat(1, 1fr);
     }
   
     .why__grid {
       column-gap: 1rem;
     }
   
     .doctors__header {
       flex-direction: column;
       text-align: center;
     }
   
     .doctors__grid {
       grid-template-columns: repeat(1, 1fr);
     }
   
     .footer__bar__content {
       flex-direction: column;
       gap: 1rem;
     }
   }